{
  "arrowParens": "avoid",
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "printWidth": 120,
  "bracketSameLine": false,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)",
    "^@/features/(.*)",
    "^@/components/(.*)",
    "^@/shared/(.*)",
    "^@/hooks/(.*)",
    "^@/lib/(.*)",
    "^[./]",
    "^@/shared/styles/(.*)",
    "^.+\\.css$"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
